
<h3>Your Posts</h3>

<% @posts.each do |p| %>
  
  <table>
    
    <tr>
      
      <td> <%= link_to p.title, p %> </td>
    

    </tr>
  </table>

<% end %>

<h3>Your Comments</h3>

<% current_user.comments.each do |c| %>
  
  <table>
    
    <tr>
      
      <td> <%= link_to c.description, post_path(c.post_id)  %>  </td>
    

    </tr>
  </table>

<% end %>

<h3>Posts You Like</h3>

<% @likes = Like.all %>
<% @likes.each do |like| %>
  
  <table>
    
    <tr>
      
      <td> <%= link_to like.post.title, post_path(like.post)  %>  </td>
    

    </tr>
  </table>

<% end %>







<br>


<%= link_to "Back", posts_path, :class => "btn btn-default"  %>